{% extends 'manager_header.html' %}

{% block content %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EditPage</title>
    
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <!-- Add your custom CSS (styles.css) -->
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/styles.css' %}">
</head>
<body>
    <div class="container-md mt-5">
        <center><h1>EditPage</h1></center>
        
        <div class="container mt-5">
            {% comment %} {% block content %} {% endcomment %}
            <!-- Bootstrap card -->
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Add Supervisor</h4>
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">Add</button>
                        {% comment %} <a href="{% url 'index' %}" class="btn btn-primary mb-3">Back to Building View</a> <!-- Back Button --> {% endcomment %}
                    </form>
                </div>
            </div>
            <!-- End Bootstrap card -->
            {% comment %} {% endblock content %} {% endcomment %}
        </div>
    </div>
    
    <!-- Add Bootstrap JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}