<!DOCTYPE html>
<html class="no-js" lang="zxx">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>WareHouse HomePage Manager</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'login panel/assets/img/favicon.ico' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'login panel/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'login panel/assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'login panel/assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'login panel/assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'login panel/assets/css/progressbar_barfiller.css' %}">
    <link rel="stylesheet" href="{% static 'login panel/assets/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'login panel/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'login panel/assets/css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static 'login panel/assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'login panel/assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'login panel/assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'login panel/assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'login panel/assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'login panel/assets/css/style.css' %}">

    <!-- Add the following CSS for the sticky header -->
    <style>
        .sticky-header {
            position: fixed;
            top: 0;
            width: 100%;
            height: 100px;
            background-color: purple;
                }

        .header-area {
            transition: 0.3s; /* Add a smooth transition effect */
        }
    </style>
</head>

<body>
    <!-- Header Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent" >
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <!--<a href="index.html"><img src="{% static 'login panel/assets/img/logo/logo.png' %}" alt=""></a>-->
                                    <a href="home_manager"><img style='width:60px; margin-bottom:25px !important;' src="{% static 'login panel/assets/img/logo/logo-header1.png' %}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">                                                                                          
                                                <li><a href="http://127.0.0.1:8000/home_manager">Home</a></li>
                                                <li><a href="#">SUPERVISOR</a>
                                                    <ul class="submenu">
                                                        <li><a href="add_supervisor">Add SUPERVISOR</a></li>
                                                        <li><a href="view_supervisor">VIEW Supervisor</a></li>
                                                        <li><a href="elements.html">Element</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">EMPLOYEE</a>
                                                    <ul class="submenu">
                                                        <li><a href="add_employe">Add Employee</a></li>
                                                        <li><a href="view_employee">VIEW EMPLOYEE</a></li>
                                                        
                                                        
                                                    </ul>
                                                </li>
                                                <li><a href="#">WareHouse</a>
                                                    <ul class="submenu">
                                                        <li><a href="add_building">Building</a></li>
                                                        <li><a href="view_building">VIEW Buiding</a></li>
                                                        <li><a href="add_rack">Racks</a></li>
                                                        <li><a href="view_rack">VIEW Racks</a></li>
                                                        <li><a href="add_vehicle">Vehicle</a></li>
                                                        <li><a href="view_vehicle">View Vehicle</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Job Schedule</a>
                                                    <ul class="submenu">
                                                        <li><a href="add_job">Job Schedule</a></li>
                                                        <li><a href="view_job">VIEW Job Schedule</a></li>
                                                        
                                                    </ul>
                                                </li>
                                                
                                                <li><a href="profile_manager">Profile Updations</a></li>
                                                
                                                
                                                <li><a href="contact.html">Contact</a></li>
                                                <!-- Button -->
                                                <li class="button-header margin-left "><a href="logout" class="btn">Log Out</a></li>
                                                <!--<li class="button-header"><a href="login.html" class="btn3">Log Out</a></li> -->
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- The rest of your content goes here -->

    <!-- Add the following JavaScript for the sticky header -->
    <script>
        window.addEventListener("scroll", function () {
            const header = document.querySelector(".header-area");
            if (window.scrollY > 150) {
                header.classList.add("sticky-header");
            } else {
                header.classList.remove("sticky-header");
            }
        });
    </script>

    <main style="height: 80px;"> 

         <!-- Slider Area Start-->
         <div class="slider-area slider-bg "  style='height:100px'>
        <!-- Single Slider -->
        <div class="single-slider d-flex align-items-center slider-height3">
            {% comment %} <div class="container"> {% endcomment %}
                {% comment %} <div class="row align-items-center justify-content-center"> {% endcomment %}
                    {% comment %} <div class="col-xl-8 col-lg-9 col-md-12 ">
                        <div class="hero__caption hero__caption3 text-center">
                            <h1 data-animation="fadeInLeft" data-delay=".6s ">Add Supervisor</h1>
                        </div>
                    </div> {% endcomment %}
                {% comment %} </div> {% endcomment %}
            </div>
        </div>    
        <!-- Slider Shape -->
        <div class="slider-shape d-none d-lg-block">
            <img class="slider-shape1" src="{% static 'login panel/assets/img/hero/top-left-shape.png' %}" alt="">
        </div>
    </div>
    <!-- Slider Area End -->


        <!-- Slider Area Start-->
       
            
    
    </main><br><br>
    {% block content %}
            {% endblock content %}
            <br><br>
    <footer>
        <div class="footer-wrappr " data-background="{% static 'login panel/assets/img/gallery/footer-bg.png' %}" style="height:100px; margin-top:90px;">

              
                        
                                <!-- logo -->
                                {% comment %} <div class="footer-logo mb-25">
                                    <a href="index.html"><img src="{% static 'login panel/assets/img/logo/logo2_footer.png' }" alt=""></a>
                                </div> {% endcomment %}
                                {% comment %} <div class="footer-tittle mb-50">
                                    <p>Subscribe our newsletter to get updates about our services</p>
                                </div>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative mail_part" novalidate="true">
                                            <input type="email" name="EMAIL" id="newsletter-form-email" placeholder=" Email Address " class="placeholder hide-on-focus" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit" class="email_icon newsletter-submit button-contactForm">
                                                    Subscribe
                                                </button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div> {% endcomment %}
                                <!-- social -->
            
                                    {% comment %} <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a> {% endcomment %}
                        {% comment %} </div> {% endcomment %}
                        {% comment %} <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 supervisor-box"> {% endcomment %}
                            <!-- Center the "Add Supervisor" box in the footer -->
                            {% comment %} <a href="add_supervisor">Add SUPERVISOR</a> {% endcomment %}
                        {% comment %} </div> {% endcomment %}
                        {% comment %} <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5"> {% endcomment %}
                            {% comment %} <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Company</h4>
                                    <ul>
                                        <li><a href="#">Why choose us</a></li>
                                        <li><a href="#"> Review</a></li>
                                        <li><a href="#">Customers</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Carrier</a></li>
                                    </ul>
                                </div>
                            </div> {% endcomment %}
                        {% comment %} </div> {% endcomment %}
                        {% comment %} <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Products</h4>
                                    <ul>
                                        <li><a href="#">Why choose us</a></li>
                                        <li><a href="#"> Review</a></li>
                                        <li><a href="#">Customers</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Carrier</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        {% comment %} <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Support</h4>
                                    <ul>
                                        <li><a href="#">Technology</a></li>
                                        <li><a href="#">  Products</a></li>
                                        <li><a href="#">Customers</a></li>
                                        <li><a href="#">Quality</a></li>
                                        <li><a href="#">Sales geography</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> {% endcomment %}
                    {% comment %} </div> {% endcomment %}
               
            
            <!-- footer-bottom area -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="footer-copy-right text-center">
                                    <p>
                                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">WMS</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"><i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->
    <script src="{% static 'login panel/assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static 'login panel/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'login panel/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'login panel/assets/js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static 'login panel/assets/js/jquery.slicknav.min.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'login panel/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'login panel/assets/js/slick.min.js' %}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static 'login panel/assets/js/wow.min.js' %}"></script>
    <script src="{% static 'login panel/assets/js/animated.headline.js' %}"></script>
    <script src="{% static 'login panel/assets/js/jquery.magnific-popup.js' %}"></script>

    <!-- Date Picker -->
    <script src="{% static 'login panel/assets/js/gijgo.min.js' %}"></script>

    <!-- Video bg -->
    <script src="{% static 'login panel/assets/js/jquery.vide.js' %}"></script>

    <!-- Nice-select, sticky -->
    <script src="{% static 'login panel/assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'login panel/assets/js/jquery.sticky.js' %}"></script>
    <!-- Progress -->
    <script src="{% static 'login panel/assets/js/jquery.barfiller.js' %}"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="{% static 'login panel/assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'login panel/assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'login panel/assets/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'login panel/assets/js/hover-direction-snake.min.js' %}"></script>

    <!-- contact js -->
    <script src="{% static 'login panel/assets/js/contact.js' %}"></script>
    <script src="{% static 'login panel/assets/js/jquery.form.js' %}"></script>
    <script src="{% static 'login panel/assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'login panel/assets/js/mail-script.js' %}"></script>
    <script src="{% static 'login panel/assets/js/jquery.ajaxchimp.min.js' %}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="{% static 'login panel/assets/js/plugins.js' %}"></script>
    <script src="{% static 'login panel/assets/js/main.js' %}"></script>
</body>

</html>
