{% extends 'manager_header.html' %}

{% block content %}
{%load static%}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>WMS_spvr_registration</title>
</head>
<body>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <div class="container mt-5">
                    <h1 class="card-title"><center> View Supervisor Registration</h1></center>

                    
                    <table class="table table-bordered table-striped table-hover" style="width: 1209px;">
                        <form class="form-inline my-3">
                            <input class="form-control mr-2" style="width: 300px; height: 40px;" type="search" id="searchInput" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-primary my-2 my-sm-0" style="height: 30px;" type="button" onclick="searchTable()">Search</button>
                           
                        </form>
                        
                        
                        <thead>
                        <tr style="font-size: 18px;"> <!-- Increase header text size -->
                            
                            <th>UserType</th>
                            <th>Supervisor ID</th>
                            <th>Name</th>
                            <th>DOB</th>
                            <th>Gender</th>
                            <th>Contact No</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for stu in stu %}
                        <tr style="font-size: 16px;">
                            <td>{{ stu.UserType }}</th>
                            <td>{{ stu.supervisor_id }}</td>
                            <td>{{ stu.name }}</td>
                            <td>{{ stu.DOB }}</td>
                            <td>{{ stu.gender }}</td>
                            <td>{{ stu.contact_no }}</td>
                            <td>{{ stu.email }}</td>
                            <td>{{ stu.password }}</td>
                            
                                <td><a href="edit_supervisor/{{ stu.id }}" class="btn btn-secondary">Edit</a></td>
                                <td><a href="delete_supervisor/{{ stu.id }}" class="btn btn-primary">Delete</a></td>
                              {% comment %} <button href="edit_supervisor/{{ stu.id }}" style="font-size: 16px; width: 60px; height: 30px; color:black; border-radius: 5px !important; background: green"> {% endcomment %}
                                    {% comment %} Edit {% endcomment %}
                                {% comment %} </button> {% endcomment %}
                                <td>
                            </td>
                            
                            {% comment %} <td>
                                <button  href="delete_supervisor/{{ stu.id }}" style="font-size: 16px; width: 66px; height: 30px; color:black; border-radius: 5px !important; background:red">
                                    Delete 
                                </button>
                            </td>
                             {% endcomment %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function searchTable() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.querySelector("table");
        tr = table.getElementsByTagName("tr");

        // Show all table rows before performing the search
        for (i = 0; i < tr.length; i++) {
            tr[i].style.display = "";
        }

        // Loop through all table rows and hide those that don't match the search query
        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            var rowMatchesSearch = false; // Track if any cell in the row matches the search query
            for (var j = 0; j < td.length; j++) {
                cell = td[j];
                if (cell) {
                    txtValue = cell.textContent || cell.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        rowMatchesSearch = true;
                        break;
                    }
                }
            }
            // Display/hide the row based on whether it matches the search query
            tr[i].style.display = rowMatchesSearch ? "" : "none";
        }
    }
</script>
</div>
</div>
</div>

<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock content %}
